{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="">
        <div class="login_container">
          <form action="" method="post">
              <p>Register a new pod:</p>
              <input type="text" placeholder="WebID" name="webid" value=""><br /><br />
              <input type="text" placeholder="Pod Name" name="pod_name" value=""><br /><br />
            <input class="btn btn-default" type="submit" value="Register">
          </form>
      </div>
    </div>
{% endblock %}
